.contenedor{
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s ease;
    border-radius: 10px;
    padding: 50px;
    background: linear-gradient(90deg, #d9e7ff, #8ae7d8);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.titulo{
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
}

.puntaje{
    font-weight: bold;
    font-size: 2em;
}

.rondas-totales{
    font-weight: bold;
    font-size: 1.5em;
}